<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Stylessheets -->
    <link rel="stylesheet" href="/css/forms.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap" rel="stylesheet">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="forms">
    <header>
        <div class="tablet">
        <div class="busqueda">
            <img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
            <div class="container">
                <input type="text" placeholder="Buscar porductos, marcas" class="input">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div>
         <div class="parrafo">
             <h5 class="copy-header">
                 <i class="fas fa-hand-holding-usd"></i>
                 Comprá en cuotas y sin tarjeta de crédito</h5>
         </div>
        </div>
    </div>

        <nav class="menu">
            <ul>
                <li><a href="">Ofertas</a></li>  <!-- tambien me funcionó poner la etiqueta a fuera de la etiqueta li -->
                <li><a href="">Tiendas Oficiales</a></li>  
                <li><a href="">Vender</a></li>  
                <li><a href="">Ayuda</a></li> <!--  -->
            </ul>
            <ul>
                <li><a href="register.html">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
            </ul>

        </nav>
     <div class="burger-menu">
            <i class="fas fa-bars"></i>
     </div>
    </header>
    <section class="register-container login">
        <h3>Ingresá</h3>
        <form action="">
            <div>
                <label for="nombreUsuario">Nombre de usuario:</label>
                <input type="text" class="input-style" name="nombreUsuario" id="nombreUsuario">
                <span class="error-message">Ingrese nombre usuario</span>
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" class="input-style" form="password" value="password" id="password">
                <span class="error-message">Ingrese su contraseña</span>
            </div>
            <div class="btn-container">
                <span class="error-message">Hubo un error en el registro</span>
                <button type="submit" class="btn btn-submit"><a href="/">Enviar</a></button> <!-- vuelvo a home -->
            </div>
        </form>
    </section>
</body>
</html>
