<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Stylessheets -->
    <link rel="stylesheet" href="/css/forms.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap" rel="stylesheet">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="forms">
    <section class="register-container">
        <h3>Registrate</h3>
        <form action="">
            <div>
                <label for="nombreyapellido">Nombre y apellido:</label>
                <input type="text" name="nombreyapellido" id="nombreyapellido">
            </div>
            <div>
                <label for="nombreUsuario">Nombre de usuario:</label>
                <input type="text" name="nombreUsuario" id="nombreUsuario">
            </div>
            <div>
                <label for="fechaNacimiento">Fecha de nacimiento:</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento">
            </div>
            <div>
                <label for="domicilio">Domicilio:</label>
                <input type="text" name="domicilio" id="domicilio">
            </div>
            <div>
                <label for="">Perfil de Usuario:</label>
                <label for="comprados"></label>
                    <input type="radio" name="perfilUsuario" id="comprador" value="perfilUsuario">
                <label for="vendedor"></label>
                    <input type="radio" name="perfilUsuario" id="vendedor" value="perfilUsuario">
            </div>
            <div>
                <label for="">Interés:</label>
                <label for="interes">Electro</label>
                <input type="checkbox" name="interes" id="interes" value="interes">

                <label for="interes">Moda</label>
                <input type="checkbox" name="interes" id="interes" value="interes">
              
                <label for="interes">Hogar</label>
                <input type="checkbox" name="interes" id="interes" value="interes">
              
                <label for="interes">Juguetería</label>
                <input type="checkbox" name="interes" id="interes" value="interes">
              
                <label for="interes">Vida sana</label>
                <input type="checkbox" name="interes" id="interes" value="interes">
            </div>
            <div>
                <label for="fotoUsuario">Foto de usuario:</label>
                <input type="file" form="fotoUsuario" value="fotoUsuario" id="fotoUsuario">
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" form="password" value="password" id="password">
            </div>
            <div>
                <label for="password">Confirmar contraseña:</label>
                <input type="password" form="password" value="password" id="password">
            </div>
            <div>
                <button type="submit"><a href="/">Enviar</a></button> <!-- vuelvo a home -->
            </div>
            <div>
                <button type="reset">Borrar</button>
            </div>

        </form>
    </section>
</body>
</html>
