@import url(home.css);

section.login .input_check-container {
    margin-bottom: 1rem;
}

section.login{ 
    max-width: 375px; /* para el maximo de la tarjeta de registro */
    border: 1px solid black;
    margin: 200px auto 90px auto;
}

section.login button.btn-submit:hover{
    background-color:  #0022AA;
    color: white;
}
