@import url(home.css);


section.register .input_check-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

section.register {
    max-width: 375px; 
    border: 1px solid black;
    margin: 200px auto 0px auto;
} 



